<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<form enctype="multipart/form-data" action="" method="post" id="form1">
    {{ form }}
    <div class="campo-form">
        <div class="campo-nome"><strong><label for="id_opcao">*Opcao</label></strong></div><input id="id_opcao" class="validate[required] input-large" type="text" maxlength="255" name="opcao1" value="">
    </div>
    <div class="campo-form">
        <div class="campo-nome"><strong><label for="id_foto">*Foto</label></strong></div><input id="id_foto" class="validate[required] input-large" type="file" maxlength="255" name="foto1" value="">
    </div>
    <div class="campo-form">
        <div class="campo-nome"><strong><label for="id_opcao">*Opcao1</label></strong></div><input id="id_opcao" class="validate[required] input-large" type="text" maxlength="255" name="opcao2" value="">
    </div>
    <div class="campo-form">
        <div class="campo-nome"><strong><label for="id_foto">*Foto1</label></strong></div><input id="id_foto" class="validate[required] input-large" type="file" maxlength="255" name="foto2" value="">
    </div>

    <input type="submit" />
</form>
</body>
</html>